body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background-image: url("https://img.freepik.com/premium-photo/assortment-fresh-bread-baking-ingredients-still-life-captured-from-healthy-homemade-bread-background-with-copyspace_133622-1.jpg?w=900");
  min-height: 700px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Add styles to the form container */
.container {
  float: right;
  color: #2b2b2b;
  right: 5%;
  position: absolute;
  border-radius: 10px;
  margin: 5%;
  min-width: 300px;
  max-width: 500px;
  width: 40%;
  padding: 25px;
  background-color: #fffbf3;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #89542c;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 1;
}

.btn:hover {
  opacity: 0.8;
}